<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
</head>
<body>
    <main>
    <div>
        <h1>
            {{ list.name }}
            <h1/>
            <h2> Tasks </h2>
            <table>
                <thread>
                   <tr>
                    <th>Task </th>
                <th> Due date </th>
                   </tr>
                   <ol>
                   {% for i in list.items.all  %}
                   <tr>
                    <td> {{ i.task }} </td>
                    <td> {{ i.due_date }} </td>
                    {% endfor %}
                   </ol>
                   </tr>

                    <thread>
                    </table>
                        <div/>
                    </main>
                        <body/>

</body>
</html>
