{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
</head>

    <main>
<div>
<h1>My Lists<h1/>
    <p> <a href="{% url 'todo_list_create'%}">Create a new list </p>

    <table>
        <thread>
           <tr>
            <th> Name</th>
            <th> Number of items</th>
           </tr>
            <thread>
                <tbody>
                    {% for r in todos %}
        <tr>
            <td><a href="{% url 'todo_list_detail' r.id %}">{{ r.name }}</a> </td>
    <td> {{ r.items.all | length }}</td>
</tr>
    {% endfor %}

</tbody>
</table>
</div>
</main>
        {% endblock content %}

</html>
